/*=== FADE TRANSITION FOR BODY DAN ANTI COPAS ==*/
body{animation:fadeInAnimation ease 2s;animation-iteration-count:1;animation-fill-mode:forwards}@keyframes fadeInAnimation{0%{opacity:0}100%{opacity:1}}
.post{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-ms-user-select:none;-moz-user-select:none}

/*== MEDIA QUERY MOBILE ==*/
@media (max-width:900px) {
  .kirman-n-d{
    display:none!important;
  }
}
/*== MEDIA QUERY DEKSTOP ==*/
@media (min-width:900px) {
  #kirman-header, .logo{
    display: none;
    visibility: hidden!important;
  }
  #menu{
   top:-40px;
  }
  .kirman-footer-con{
    display: none;
  }
  #sidebar-wrapper{float:right; position: fixed; top:75px; left:650px;}
}

/*=== CSS IKLAN ==*/
#HTML1, #HTML3, #HTML4, #HTML6, #HTML8{width:calc(100% - 20px); border-radius:10px; height:auto; min-height:50px; background:#fff; justify-content:center; margin:10px 10px;}
#HTML5 {width:300px; border-radius:10px; height:250px; background:#fff; justify-content:center; margin:40px auto 80px auto;}
@media (max-width:800px){#HTML8{display:none;}}
#HTML3{height:auto; margin-top:-15px;}
@media (min-width:900px){#HTML3{margin-top:10px;}#HTML5{display:none;}}

/*== HEADER ==*/
@media (min-width:900px){#kirman-header{padding-left:40px; padding-right:40px;}#kirman-btn-search{right:40px;}}
.kirman-notifikasi-header{position: absolute; right:60px; top:15px; fill:#fff; width:20px; height:20px;}
.kirman-header{background:#2196F3;position:fixed;top:0;left:0;right:0;height:50px;padding:0 10px;display:flex;align-items:center;z-index:1000}
#kirman-btn-menu{fill:#fff;height:30px;width:30px;position:relative;z-index:800}
#kirman-btn-menu-close{width:30px;height:30px;fill:#fff;position:relative;z-index:800;display:none}
#kirman-menu{max-width:600px;height:0;background:#2196F3;position:fixed;top:0;left:0;right:0;z-index:799;transition:.6s;padding:10px;overflow:hidden}
.kirman-menu-link{margin:0 15px;display:flex;align-items:center!important;padding:10px 0;border-bottom:1px dotted #e0e0e0;font-size:14px;font-weight:600;color:#fff;text-decoration:none;text-transform:capitalize}
.kirman-menu-link:hover{color:#2196F3;background:#fff;padding-left:10px}
.kirman-menu-link:nth-child(1){margin-top:70px}
.kirman-dekstop-link{margin-left:40px;color:#fff;text-decoration:none}
.logo{margin:0;padding:0;font-size:20px;color:#fff;text-transform:uppercase}
.logo:first-letter{background:#fff;color:#2196F3;padding:2px 4px;margin-left:20px}
.kirman-search{border-radius:100px;height:25px;position:absolute;right:60px;outline:none;border:none;top:13px;width:0;transition:.3s}
.kirman-btn-search{position:absolute;top:13px;right:15px;height:25px;width:25px;fill:#fff}
@media (max-width:900px){.kirman-dekstop-link{display:none}}
@media (min-width:900px){.logo{visibility:visible}.logo:first-letter{margin-left:10px;margin-right:10px}.kirman-search{width:62%; margin-right:80px}}
.br{margin-top:75px}

/*==Night Mode==*/
.nightmode{transition:.3s; background:#263238; color:#fff;}
.nightmode body{background:263238; color:#fff;}
.nightmode a{color:#fff;}
.nightmode a:hover{color:rgba(255,255,255,.4)!important}
.nightmode .kirman-header{background:#263238; color:#fff;}
.nightmode .post-body{background:#263238; color:#fff;}
.nightmode .kirman-featured-con{background:#263238; color:#fff;}
.nightmode .kirman-featured-isi-con{background:#263238; color:#fff;}
.nightmode .kirman-popular-posts{background:#263238; color:#fff;}
.nightmode .kirman-label-con{background:#263238; color:#fff;}
.nightmode .kirman-footer-con{background:#263238; color:#fff;}
.nightmode #kirman-menu{background:#263238; color:#fff;}
.nightmode .breadcrumbs{background:#263238; color:#fff;}
.nightmode .kirman-post-title-con{background:#263238; color:#fff;}
.nightmode .comments .comments-content .inline-thread{background:#263238; color:#fff;}
.nightmode .comments .comments-content .comment-thread{background:#263238; color:#fff;}
.nightmode .submenu{background:#263238; color:#fff;}
.nightmode .kirman-menu{background:#263238; color:#fff;}
.nightmode .accordion{background:#263238; color:#fff;}
.nightmode .kirmanWave path{fill:#263238; color:#fff;}
.nightmode .kirman-menu-header{background:#263238; color:#fff;}
.nightmode svg{fill:#fff; color:#fff;}
.nightmode .accordion .link{color:#fff;}
.nightmode .logo:first-letter{color:#263238;}
.nightmode #kirmanTotop{background:#263238; color:#fff;}
.nightmode .blog-pager-newer-link{color:#263238; background:#fff;}
.nightmode .blog-pager-older-link{color:#263238; background:#fff;}
.nightmode .kirmanShare{background:#263238; color:#fff;}
.nightmode .kirman-n-d{background:#263238; color:#fff;}
.nightmode .kirman-n-d &gt; ul &gt; li &gt; a &gt; svg{fill:#fff;}
.nightmode  pre{background:#263238; color:#fff;}
.nightmode .line-number{background:#263238; color:#fff;}
.nightmode  code{background:#263238; color:#fff;}
.nightmode .class-baru{background:#263238; color:#fff;}
.nightmode .class-baru{background:#263238; color:#fff;}
.nightmode .class-baru{background:#263238; color:#fff;}


/*== MENU ==*/
.closeMenu{color:#fff;float:right;position:absolute;top:0;right:0;font-family:Verdana;font-weight:400;padding:20px 20px 40px 40px;font-size:20px}
.kirman-menu{position:fixed;top:0;bottom:0;left:0;width:0;height:100%;transition:.2s;overflow:scroll;background:#fff;z-index:900}.kirman-menu-header{margin-top:40px;background:#2196f3;height:200px;padding:40px 0 0 0;width:300px;position:relative}.kirmanWave{position:absolute;width:100%;height:70px;bottom:-1px;left:0;right:0;overflow:hidden}.kirmanWave path{fill:#fff}.kirmanWave path:not(:first-child){opacity:.5}.foto-kirman{width:80px;height:80px;border-radius:100px;border:5px solid #fff;margin:auto;display:flex}.nama-kirman{color:#fff;text-align:center;margin-top:20px;border-radius:10px;font-size:14px}.kirman-menu-konten{position:relative}.kirman-count{color:#fff;font-size:10px;float:right;margin-right:40px;padding:2px 5px;background:red;border-radius:10px;-webkit-animation-name:example;-webkit-animation-duration:4s;animation-name:example;animation-duration:4s;animation-iteration-count:infinite}@-webkit-keyframes example{from{background-color:red}to{background-color:#2196f3}}@keyframes example{from{background-color:red}to{background-color:#2196f3}}.accordion{width:100%;max-width:360px;margin:30px auto 20px;background:#fff;margin-top:-20px}.accordion .link{cursor:pointer;display:block;padding:15px 15px 15px 42px;color:#626262;font-size:14px;font-weight:700;position:relative;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}.accordion li:last-child .link{border-bottom:0}.accordion li i{position:absolute;top:16px;left:12px;font-size:18px;color:#595959;-webkit-transition:all .4s ease;-o-transition:all .4s ease;transition:all .4s ease}.accordion li i.fa-chevron-down{right:12px;left:auto;font-size:16px}.accordion li.open .link{color:#b63b4d}.accordion li.open i{color:#b63b4d}.accordion li.open i.fa-chevron-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.submenu{display:none;background:#2196f3;font-size:14px}.submenu li{border-bottom:none}.submenu a{display:block;text-decoration:none;color:#d9d9d9;padding:12px;padding-left:42px;-webkit-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}.submenu a:hover{background:#b63b4d;color:#fff}

/*==== NAVIGASI DEKSTOP ====*/
.kirman-n-d{z-index:800;background:#fff;height:100%;width::50px;padding:40px 20px;position:fixed;top:0;right:auto;bottom:0;left:0;transition:.3s}
.kirman-n-d > ul{list-style:none;margin:0;padding:0}
.kirman-n-d > ul > li > a > img{width:50px;height:50px;margin-bottom:20px}
.kirman-n-d > ul > li{margin:20px 0}
.kirman-n-d > ul > li > a > svg{width:30px;height:30px;fill:#626262;margin-left:10px}
.kirman-n-d > ul > li > a > svg:hover{fill:#2196F3}
.kirman-n-d > ul > form > input{border:1px solid #e0e0e0;border-radius:10px;padding:10px 10px;display:none}
.kirman-n-d > ul > li > a > svg:active{fill:#2196F3}
 
/*== Breadcrumb ==*/
.breadcrumbs{background:#fff;line-height:1.2em;width:auto;overflow:hidden;margin:0;padding:20px;border-top:1px solid #dedede;border-bottom:1px solid #dedede;font-size:80%;color:#888;font-weight:400;text-overflow:ellipsis;-webkit-text-overflow:ellipsis;white-space:nowrap}
.breadcrumbs a{display:inline-block;text-decoration:none;transition:all .3s ease-in-out;color:#666;font-weight:400}
.breadcrumbs a:hover{color:#11589D}
.breadcrumbs svg{width:16px;height:16px;vertical-align:-4px}
.breadcrumbs svg path{fill:#666}
  
/*== POPULAR ==*/
.kirman-popular-posts{border-radius:10px; font-size:10px; padding:20px 10px; background:#2196F3;}
.h2{display:none;}
.kirman-popular-img{display:none;}
.kirman-popular-post-icon{width:14px; height:14px; fill:#fff; margin-right:10px;}
.kirman-popular-title a{color:#fff; display:flex; align-items: center; font-size:10px}
.kirman-popular-garis-bawah{margin:5px 0 10px 0; border-bottom:1px dotted #fff;}
.kirman-popular-snippet{display:none;}
  
/*== LABEL ==*/ 
.kirman-label-title{display:none;}
.kirman-label-con{height:100px; margin:10px 0; border-radius:10px; padding:20px 10px; background:#2196F3;}
.kirman-label-icon{width:14px; height:14px; fill:#fff; margin-right:10px;}
.kirman-label{border-bottom:1px dotted #fff; padding-bottom:10px; display:flex; color:#fff; width:50%; font-size:10px; align-items:center; float: left;}
.kirman-label-garis-bawah{}

/*== FOOTER ==*/
.kirman-footer-con{margin-top:20px;width:100%;height:280px;background:#2196F3;}
.footer-logo{display:flex;align-items:center;flex-direction:column}
.footer-logo a{color:#fff; margin-top:40px; font-weight:600; font-size:1.4em;}
.footer-social-links{display:flex;align-items:center;justify-content:center}
.footer-social-links a{margin-left:10px;margin-top:40px;text-decoration:none;color:#fff;font-size:10px}
.footer-copyright{color:#fff;font-size:10px;display:flex;justify-content:center;margin-top:18px}

/*== HIDDEN ==*/
.blog-pager, .feed-links, .post-timestamp, .post-comment-link, .post-labels, .quickedit, .blog-pager-newwer-link, .home-link, .post-share-button {display:none;}
