/*== TIPOGRAFI LAYOUT V1.3 KIRMANALIDRIS ==*/
body, h1, h2, h3, h4{font-weight:400; font-family: &#39;Poppins&#39;, sans-serif;}
body{color:#444; font-size:14px; line-height:1.6em;}
body h1{font-size:2em; line-height:1.25em;}
body h2{font-size:1.625em; line-height:1.15384615em;}
body h3{font-size:1.375em; line-height:1.13636364em;}
body h4{font-size:1.125em; line-height:1.11111111em;}
/*== TIPOGRAFI LAYOUT V1.3 KIRMANALIDRIS ==*/

/*== RESPONSIF LAYOUT V1.3 KIRMANALIDRIS ==*/
body {background:#eee; padding: 0;margin:0;}
@media (min-width: 900px){#outer-wrapper{width: calc(1024px - 0px); padding:0; justify-content: center; margin:auto;}}
#main-wrapper{width: 100%; position:relative;}
@media (min-width: 900px){#main-wrapper{width: calc(100% - 480px); margin-left:100px; float: left;}}
#sidebar-wrapper{width: calc(100% - 20px);padding: 0px 10px;}
@media (min-width: 900px){#sidebar-wrapper{width: 300px;float: right; margin-right:40px;}}
/*== RESPONSIF LAYOUT V1.3 KIRMANALIDRIS ==*/
