@media (min-width:900px){.sticky { position:fixed; top:0; right:15px; left:710px; z-index: 4000; }}
html{scroll-behavior:smooth;}a{color:inherit; text-decoration: none;}input{outline:none;}
.dt{font-size:14px; font-weight:1000; padding-bottom:10px; border-bottom:4px solid #e0e0e0;}
.border-b{border-bottom:1px solid #e0e0e0;padding-bottom:15px;}
/*=== FADE TRANSITION DAN FAB MENU ==*/
body, img{animation:fadeInAnimation ease 2s;animation-iteration-count:1;animation-fill-mode:forwards}@keyframes fadeInAnimation{0%{opacity:0}100%{opacity:1}}
.fab-btn{z-index:4000;transition:.4s;position:fixed;font-size:20px;right:23px;bottom:70px;border:none;border-radius:100px;color;#fff;padding:10px 10px 5px 10px;background:#2196F3;outline:none;}.fab-btn:hover{transform:rotate(120deg);background:#2196F3}.fab-isi{visibility:hidden;position:fixed;z-index:4000;bottom:130px;right:20px;display:flex;flex-direction:column;align-items:center}.fab-isi > a{position:relative;display:flex;align-items:center}.kirmani{width:20px;height:20px;fill:#fff}.ttp{transition:.1;background:darkgreen;padding:10px;border-radius:100px}.fb{transition:.2s;background:#4c5bff;padding:10px;border-radius:100px}.ig{transition:.3s;background:#f900ca;padding:10px;border-radius:100px}.pt{transition:.4s;background:red;padding:10px;border-radius:100px}.tw{transition:.5s;background:#018af4;padding:10px;border-radius:100px}.mg{margin:5px}.tp{width:80px;color:#fff;background:#000000;padding:5px 10px;border-radius:5px;font-size:10px}.hdf{visibility:visible}.hover {opacity:.8;}
  
/*== Subscribe Box ==*/
@media (max-width:900px){.subscribe-wrapper{width:calc(100% - 0px);}}
@media (min-width:900px){.subscribe-css-email-button{display: none;}.subscribe-wrapper h2{font-size:14px;}.subscribe-wrapper{width:calc(100% - 20px); padding:0 10px;margin:0 10px;}}
.subscribe-wrapper h2{font-size:14px;color: #444;}
#subscribe-css{position:relative;padding:20px 0;background:#444;overflow:hidden;border-top:4px solid #eee:none}
.subscribe-wrapper{border-radius:10px;padding:20px 0;-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20);color:#fff;font-size:16px;line-height:normal;text-align:center;text-transform:none;font-weight:400;}
.subscribe-form{clear:both;display:block;overflow:hidden}
.subscribe-css-email-field{background:#fff;color:#ccc;margin:10px 0;padding:10px 20px;width:35%;border: 1px solid #20A0D8; border-radius:8px;}
.subscribe-css-email-button{background:#2196F3;color:#fff;cursor:pointer;font-weight:700;padding:10px 30px;margin-left:15px;text-transform:none;font-size:16px;border:0;border-radius:8px;transition:all .6s}
.subscribe-css-email-button:hover{opacity:.5;}
  
/*== Lightbox ==*/
.kirman_lightbox_grid{display:none;}
.separator{z-index:1000;position:relative;border-radius:10px;}.separator:before{z-index:2000;position:absolute;bottom:6px;right:0;content:"<data:blog.title/>";background:#2196F3;font-size:10px; color:#fff;opacity:.8;padding:2px 10px 2px 20px;border-radius:100px 0 40px 0;}.separator img{border-radius:10px;}
  
@media (min-width:900px){.kirman_lightbox .popup-wrapper{padding:0 200px;}}
.kirman_lightbox{overflow:;position:relative;margin-left:-10px;color:#777}.kirman_lightbox a{position:relative;}.kirman_lightbox a img{width:97.5%;}.kirman_lightbox .popup-wrapper{position:fixed;text-align:center;top:0;left:0;padding-top:40%;bottom:0;right:0;opacity:0;background-color:rgba(0,0,0,.7);z-index:9999}.kirman_lightbox .popup-wrapper .popup{margin:7vh 20px;position:absolute;display:none;background-color:#fff;padding:10px;border-radius:10px}.kirman_lightbox .popup-wrapper .popup.active{position:relative;display:inline-block}.kirman_lightbox .popup-wrapper .popup img{max-height:500px;position:relative}.kirman_lightbox .popup-close{position:absolute;z-index:99;top:-10px;right:-10px;font-family:sans-serif;background-color:#2196f3;color:#fff;font-size:13px;padding:4px 10px;border-radius:100%;float:none;text-decoration:none;border:1px solid #aaa}.kirman_lightbox .next,.prev{color:#fff;background-color:#2196F3;text-decoration:none;padding:7px 10px;font-family:sans-serif;text-transform:uppercase;position:absolute;top:45%;z-index:99;border:1px solid #fff;border-radius:100px;}.kirman_lightbox .prev{left:20px;position: absolute; top:50%;}.kirman_lightbox .next{right:20px}

/*== Custom search ==*/
.status-msg-wrap{-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20);color: inherit;background:#fff;padding:10px; margin:10px; border-radius:10px;}
.status-msg-wrap a{font-size:10px; background:#2196F3; border-radius:100px; padding:5px 10px;color:#fff;}
.status-msg-body{display:none}
  
/*== ABOUT ==*/
#Profile1{padding:0;text-align: center;margin-bottom:10px;}/*container profil*/
#Profile1 h2{display:none;}
.profile-img{border:1px solid #eee;border-radius:100px; width:70px; height:70px; display:flex; margin:20px auto 0 auto;}/*gambar profil*/
.profile-name-link{}/*nama profil*/
.profile-textblock{margin:auto; text-align: center; font-size:10px;}/*about me*/
.profile-data{}/*location profil*/
.profile-link{font-size:10px; padding:5px 10px; border-radius:100px; color:#fff; background:#2196F3;}/*link to profil*/
/*== ABOUT ==*/

/*== Pages ==*/
#PageList1,.kirman-halmaman{padding-bottom:20px; border-bottom:1px solid rgba(0,0,2,0.10); margin-top:20px;}
#PageList1 h2{display: none;}
#PageList1 ul{padding:0;}
#PageList1 ul li{list-style:none;}
#PageList1 ul li a{font-size:12px;position:relative;display:flex;align-items:center;}
#PageList1 ul li a i{margin-right:15px; font-size:14px;}
#PageList1 ul li a .kirman-icon{position: absolute;right:0;}
/*== Pages ==*/

/*== MATERIAL ICON ==*/
/* fallback */
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2')}
.material-icons{font-family:'Material Icons';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased}
/*== MATERIAL ICON ==*/
  
/*== HEADER ==*/
@media(min-width:1200px){.kirman_sidenav{margin-left:180px;}}
@media(min-width:900px){.kirman_sidenav{left:0;width:200px;border:1px solid #e0e0e0;}.kirman-header,.kirman-footer-con{display:none}}
@media(max-width:900px){.m-h{display: none;}.kirman_sidenav{left:-200px;width:250px;}.kirman-header{display:flex}.kirman_sidenav{left:-250px}}
.m-h{padding-top:30px;text-align:center;padding-bottom:30px;border-bottom:1px solid #e0e0e0}
.m-h > h1{font-weight:1000;text-transform:uppercase;padding:0;margin:0;color:#2196F3}
.m-h > p{margin:0;padding:0;margin-top:0;font-size:10px;color:gray}
.kirman_sidenav_isi{padding:15px;}
.kirman_sidenav{-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20);position:fixed;bottom:0;top:0;background:#fff;height:100%;overflow:scroll;transition:.4s;z-index:4000;}
.kirman_sidenav_active{left:0}
.kirman_overlay{background:#000;opacity:.4;position:fixed;top:0;left:0;right:0;bottom:0;z-index:3999;display:none}
.kirman_overlay_active{display:block}
.kirman-header{z-index:3000;background:#2196F3;align-items:center;position:fixed;top:0;left:0;right:0;padding:15px;height:30px}
.logo{color:#fff;font-weight:1000;justify-content:center;margin:auto;text-transform:uppercase}
.kirman-btn-sidenav{width:20px;height:20px;fill:#fff;position:absolute;left:15px}
.kirman-btn-search{width:20px;height:20px;fill:#fff;float:right;position:absolute;top:20px;right:15px}
.search-form{background:#00000000;color:#fff;position:absolute;right:40px;top:15px;width:0;border-radius:100px;padding:5px 10px;border:none}
.s-left{width:250px;transition:.4s;-webkit-transition:.4s;-moz-transition:.4s}
.hide{display:none}

/*== POPULAR ==*/
@media (min-width:900px){#PopularPosts1{margin:0 10px;background:#fff;}}
@media (max-width:900px){#PopularPosts1{margin:0 0;background:#fff;}}
#PopularPosts1 h2{display: none}
.kirman-popular-post{}
.kirman-popular-post-item{margin-top:15px;padding:10px; border-radius:10px;-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20);}
.kirman-popular-img{border-radius:5px; margin-top:23px; margin-left:20px;width:120px;height:80px;float:right;}
.kirman-popular-title,.kirman-popular-title a{padding:0;line-height:1.4em;font-size:14px; font-weight:700;}
.kirman-popular-garis-bawah{}
.kirman-popular-snippet{padding-top:10px;font-size:10px; line-height:1.4em; color:gray;padding-bottom:20px;}

/*== LABEL ==*/
#Label1 h2{margin-bottom:20px;}
#Label1{margin:20px 10px;}
.kirman-label-title{}
.kirman-label-con{}
.kirman-label{transition:1s;background:#2196F3;color:#fff;font-size:10px; border:1px solid #e0e0e0;padding:5px 10px; border-radius:5px;margin:0 5px 5px 0;float:left;}.kirman-label:hover{opacity:.6;}
.kirman-label-garis-bawah{}

/*== ARCHIVE ==*/
#BlogArchive1{margin:20px 10px 0 10px;float: none;}
#BlogArchive1 h2{margin-top:20px; margin-bottom:40px;}
.kirman-archive{padding-bottom:5px; display:flex; color:inherit; width:50%; font-size:10px; align-items:center; float: left;}
.kirman-archive-icon{width:16px; height:16px; fill:; margin-right:10px;}
.kirman-archive-count{}
/*== FOOTER ==*/

/*== HIDDEN ==*/
.feed-links, .post-timestamp, .post-comment-link, .post-labels, .quickedit, .blog-pager-newer-link, .home-link, .post-share-button {display:none;}
/*== HIDDEN ==*/

/*== TIPOGRAFI LAYOUT V1.3 KIRMANALIDRIS ==*/
@import url(//db.onlinewebfonts.com/c/e8c6a63541de0a4211a9358cbe74690f?family=Futura);@font-face{font-family:"Futura";src:url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.eot");src:url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.eot?#iefix") format("embedded-opentype"),url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.woff2") format("woff2"),url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.woff") format("woff"),url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.ttf") format("truetype"),url("//db.onlinewebfonts.com/t/e8c6a63541de0a4211a9358cbe74690f.svg#Futura") format("svg")}

h2{font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-size:24px;font-style:normal;font-variant:normal;font-weight:700;line-height:26.4px}
h3{font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-size:18px;font-style:normal;font-variant:normal;font-weight:700;line-height:18.4px}
h4{font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-size:14px;font-style:normal;font-variant:normal;font-weight:700;line-height:15.4px}
body{font-family:Futura,"Trebuchet MS",Arial,sans-serif;font-size:14px;font-style:normal;font-variant:normal;font-weight:370;line-height:1.6em}
/*== TIPOGRAFI LAYOUT V1.3 KIRMANALIDRIS ==*/

/*== RESPONSIF LAYOUT V1.3 KIRMANALIDRIS ==*/
body {color:#444; background:#fff; padding: 0;margin: 0;}
@media (min-width: 900px){#outer-wrapper{position:relative;width:1024px;margin:auto;justify-content:center;}}
#main-wrapper{width: 100%;}
@media (min-width: 900px){#main-wrapper{width:500px; margin-left:210px; float: left;}}
#sidebar-wrapper{width: calc(100% - 20px);padding: 0px 10px;}
@media (min-width: 900px){#sidebar-wrapper{width: calc(100% - 730px); margin-top:0px; height:100%; padding:0; margin-right:10px; border-left:1px solid rgba(0,0,2,0.10); float: right;}}
/*== RESPONSIF LAYOUT V1.3 KIRMANALIDRIS ==*/

/*=== CSS IKLAN ==*/
#HTML1{width:calc(100% - 40px); height:auto; background:#fff; justify-content:center; margin:10px 20px 20px 20px;}
#HTML1, #HTML4, #HTML5, #HTML6, #HTML8, #HTML9{overflow: hidden;}
#HTML4, #HTML8{width:calc(100% - 40px); height:auto; background:#fff; justify-content:center; margin:10px 20px;}
#HTML6 {width:calc(100% - 10px); height:auto; background:#fff; justify-content:center; margin:20px 5px;}
#HTML5 {background:#eee; justify-content:center; margin:40px auto 80px auto;}
@media (max-width:900px){#HTML5{width:300px; height:250px; }#HTML8{display:none;}}
#HTML3{height:auto; margin-top:-15px;}
#HTML9{height:auto; width:calc(100% - 40px); margin:10px 20px; background:#fff;}
@media (min-width:900px){#HTML5{width:250px; height:200px;}#HTML9{width:calc(100% - 240px); margin:-50px 20px 10px 220px; border:1px solid #e0e0e0;box-shadow:0 0 4px 1px inset rgba(60,64,67,.1); -webkit-box-shadow:0 0 4px 1px inset rgba(60,64,67,.1); -moz-box-shadow:0 0 4px 1px inset rgba(60,64,67,.1);}#HTML8{display:none;}}

