/*== TIPOGRAFI LAYOUT V1.3 KIRMANALIDRIS ==*/
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), local('sans-serif'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1{font-family: ;font-size:20px;font-style:normal;font-variant:normal;font-weight:400;line-height:26.4px}
h2{font-family: ;font-size:20px;font-style:normal;font-variant:normal;font-weight:400;line-height:26.4px}
h3{font-family: ;font-size:18px;font-style:normal;font-variant:normal;font-weight:400;line-height:18.4px}
h4{font-family: ;font-size:14px;font-style:normal;font-variant:normal;font-weight:400;line-height:15.4px}
html, body{font-family: 'roboto', sans-serif; color:#000; font-weight:400; font-size: 14px; font-stretch: inherit; font-variant-east-asian: inherit; font-variant-numeric: inherit; line-height: 20px; margin: 0px; padding: 0px; vertical-align: baseline;}
/*== TIPOGRAFI LAYOUT V1.3 KIRMANALIDRIS ==*/

/*== RESPONSIF LAYOUT V1.3 KIRMANALIDRIS ==*/
.post{-webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -ms-user-select:none; -moz-user-select:none;}
body {background:#E3F2FD; padding: 0;margin: 0;}
@media screen and (min-width: 900px){#outer-wrapper{position:relative;width:1024px;margin:auto;justify-content:center;}}
#main-wrapper{width: 100%;}
@media screen and (min-width: 900px){#main-wrapper{width:500px; margin-left:210px; float: left;}}
#sidebar-wrapper{background:#2196F3;width: calc(100% - 20px);margin-top:10px;padding: 10px 10px 40px 10px;}
@media screen and (min-width: 900px){#sidebar-wrapper{width: calc(100% - 740px);background:none;margin-top:0px; padding:0px; padding-right:20px; margin-right:0px; float: right;}}
/*== RESPONSIF LAYOUT V1.3 KIRMANALIDRIS ==*/

/*____________________________________________________________________________________________

kirman-framework.css v1.0 | MIT License | Copyright github.com/kirmanalidris/kirman-framework
____________________________________________________________________________________________*/
@media (max-width:900px){.menghilang{display: none;visibility:hidden;}.kirman-featured-con{margin:0 10px;}}
@media (min-width:900px){.kirman-featured-con{margin:20px 10px 0 10px;}.kirman-popular-posts-item{border-bottom:1px solid rgba(0,0,3,0.20);}.sticky { position:fixed; top:20px; left:720px; right:20px; z-index: 4000; transition:.4s;}}
a,button,input{text-decoration:none; color: inherit; outline:none; border:none;}ul{margin:0; padding:0;}li{list-style:none;}abbr {text-decoration:none;}
html{ animation-name: kirmanFadeIn; animation-duration: 2s; } @keyframes kirmanFadeIn { from {opacity:0;} to {opacity:1;} }
.gallerytem{transition:.4s;}.gallerytem:hover{transform:scale(1.1);}.thumbnail {position:relative;z-index:1;}.thumbnail img{transition:.4s}.thumbnail img:hover{
transform:scale(1.1);
filter: brightness(100%);
-webkit-filter: brightness(75%);}
/* post label */
#HTML12{background:#fff;border-radius:8px 8px 0 0;margin-bottom:-10px; padding:20px;}
#HTML12 .recent-kirman{display:flex;background:#fff; overflow: auto; white-space: nowrap;}
#HTML12 .recent-kirman .gallerytem {box-shadow:0px 0px 8px 2px rgb(0,0,2,0.12);margin:20px 10px;border-radius:8px;position:relative;width:120px;padding:10px;height:140px;}
#HTML12 .recent-kirman .gallerytem a img{border: 1px solid rgba(0,0,3,0.20);border-radius:8px;}
#HTML12 .recent-kirman .gallerytem  .ptitle{bottom:10px; left:10px; right:10px; font-size:12px;color:inherit;text-align: center;position: absolute;}
/*=== CSS IKLAN ==*/
#HTML1, #HTML4, #HTML5, #HTML6, #HTML8, #HTML9{justify-content: center; margin:auto;overflow: hidden;border-radius:8px;}
#HTML1{width:calc(100% - 20px); border-radius:8px; height:auto; background:#fff; justify-content:center; margin:10px 10px;}
#HTML4{width:calc(100% - 20px); border-radius:8px; height:auto; background:#fff; justify-content:center; margin:10px  10px 30px 10px;}
#HTML6 {width:calc(100% - 0px); border-radius:8px; height:auto; background:#fff; display:flex; justify-content:center; margin:10px 0px;}
#HTML5 {width:300px; border-radius:8px; height:250px; background:#fff; justify-content:center; margin:40px auto 0px auto;}
@media (max-width:900px){#HTML8{display:none;}}
#HTML3{height:auto; margin-top:-15px;}
#HTML9{height:auto; width:calc(100% - 20px); margin:10px 10px; background:#fff; margin-top:35px;border-radius:8px;}
@media (min-width:900px){#HTML5{width:280px;}#HTML9{width:calc(100% - 240px); margin:-20px 80px 10px 220px;}#HTML8{display:none;}}

/*== MATERIAL-ICONS ==*/
@font-face{font-family:'Material Icons';font-style:normal;font-weight:400;src:url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2')}.material-icons{font-family:'Material Icons';font-weight:400;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased}

/*== Widgets Title ==*/
#PopularPosts1 h2, .data_title {color:#444;padding: 0px; margin: 0px; font-size: 16px; font-weight:400; }
#PopularPosts1 p, .data_info {font-weight:400;color:#444;font-size: 10px; padding: 0 0 10px 0; margin: 0px; border-bottom: 1px solid rgba(0,0,3,0.20); }
  
/*== Custom search ==*/
.status-msg-wrap{display:none;}

/*== Parse HTML ==*/
@media (min-width:900px){.kirman-parse #button-clear{display:none;}}
.kirman-parse{margin-bottom:20px; height: 280px; position: relative; padding:20px;border-radius:8px;background:#fff;} #tarea{padding:20px;background:rgba(0,0,2,0.10);;outline: none;border: none;border-radius:10px;width:calc(100% - 40px);height: 100px;} #tarea:hover{transition:.4s;width:calc(100% - 42px);height:calc(100px - 2px);border:1px solid #2196F3;} .btn-wrap{ display: flex; align-items: center; justify-content: center; } .kirman-parse > .btn-wrap > button{ margin-top: 20px; background:#2196F3; border-radius: 4px; padding: 8px 15px; border: none; color: #fff; float: right; margin-left: 10px; display: flex; align-items: center; outline: none; } .kirman-parse > .btn-wrap > button:hover{ opacity: .8; } .kirman-parse > .btn-wrap > button > i{ font-size: 18px; margin-left: 10px; }

/*== BREADCRUMBS ==*/
.breadcrumbs{background:#fff;line-height:1.2em;width:auto;overflow:hidden;margin:;padding:10px 30px;border-top:1px solid #dedede;font-size:80%;color:#222;font-weight:400;text-overflow:ellipsis;-webkit-text-overflow:ellipsis;white-space:nowrap}
.breadcrumbs a{display:inline-block;text-decoration:none;transition:all .3s ease-in-out;color:#222}
.breadcrumbs a:hover{color:#11589D}
.breadcrumbs svg{width:16px;height:16px;vertical-align:-4px}
.breadcrumbs svg path{fill:#222}
.homebread{margin:0 2px 0 0}

/*==POPULAR ==*/
#PopularPosts1{padding:20px;border-radius:8px;background:#fff;}
.kirman-popular-post-icon{display:none;font-size:16px;margin-right:10px;}
.kirman-popular-posts-item{margin:9px 0;background:#fff;border-radius:10px;padding:15px 0;}
.kirman-popular-img{margin-left:20px;width:120px;height:80px;float:right;border-radius:8px;}
.kirman-popular-title, .kirman-popular-title a{text-transform:capitalize;font-size:14px;line-height:1.4em;padding:0px;margin:0px;font-weight:400;}
.kirman-popular-garis-bawah{display:none;}
.kirman-popular-snippet{margin-top:10px;font-weight:400;font-size:12px;line-height:1.4em;}

/*== LABEL ==*/
.kirman-label-con{width:100%;float:none; height:100%;}
.kirman-label-title{display: none;}
#Label1{clear:both;position:static;border:1px solid rgba(0,0,2,0.08);background:#fff; height:;margin:10px 0; border-radius:8px; padding:40px 10px;}
.kirman-label-con .kirman-label-icon{vertical-align:baseline; font-size:22px; margin-right:10px;}
.kirman-label{margin-left:11px;padding-bottom:5px; display:flex; align-items: center; color:inherit;font-size:10px;}
.kirman-label-active{margin-left:11px;padding-bottom:5px; display:flex; align-items: center; color:inherit;font-size:10px}
.kirman-label-garis-bawah{display:none;clear:both;}

/*== FOOTER ==*/
.kirman-footer-con{font-weight:400;width:calc(100% - 0px);border-radius:0;height:280px;background:#fff;padding-bottom:20px;}
.footer-logo{display:flex;align-items:center;justify-content: center; margin:auto;}
.footer-logo a{color:#000; margin-top:40px; font-weight:600; font-size:1.4em;}
.footer-social-links{text-align: center;display:flex;align-items:center;justify-content:center; margin:auto;}
.footer-social-links a{margin:5px;margin-top:40px;text-decoration:none;color:#000;font-size:10px}
.footer-copyright{color:#000;font-size:10px;display:flex;justify-content:center;margin-top:18px}

/*== Hover efek ==*/
html{scroll-behavior:smooth}
.hover-trans:hover{opacity:.5}

/*== Header ==*/
.hidden{transform:translate3d(0,-200%,0);-webkit-transform:translate3d(0,-200%,0);-o-transform:translate3d(0,-200%,0);-ms-transform:translate3d(0,-200%,0);-moz-transform:translate3d(0,-200%,0)}
.kirman-header{position:fixed;background:#fff;border-radius:8px;z-index:998;top:10px;left:10px;right:10px;height:20px;padding:20px;transition:.4s;display:flex;align-items:center;}
.btn-m{font-size:20px;}
.logo{margin:0;padding:0;font-size:1.2em;font-weight:400;position:relative;margin-left:20px;font-family:cursive;text-transform:capitalize}
.kirman-s{position:absolute;left:20px;top:10px;bottom:10px;right:50px;width:100%;outline:none;border:none;background:#fff;width:80%;display:none}
.btn-s{font-size:20px;float:right;position:absolute;right:50px;top:20px;}
.btn-mr{font-size:20px;float:right;position:absolute;right:20px;top:20px;}

/*== SIDENAV KIRMANFRAMEWORK ==*/
.more-nav{max-width:400px; border-radius:10px;background:#fff;position:fixed;z-index:4000;left:15px;right:15px;bottom:-500px;transition:.4s;padding:10px 20px 40px 20px;}
.more-nav > .kirman-info-follow > h1{margin:0 20px 20px 20px;text-align: left;font-size: 16px;}
.more-nav > .kirman-info-follow > p{margin:0 20px;text-align: left;font-size: 10px; color:gray}
.more-nav > form{margin: auto; display:flex; margin:0 20px;}
.more-nav > form > label > input[type="text"]{border-radius: 5px;border: 1px solid #e0e0e0;padding:10px 20px;margin:0 10px 0 0;width:40%;}
.more-nav > form > label > input[type="submit"]{border-radius: 5px;border: 1px solid #e0e0e0;color:#fff;padding:10px;background-color:#2196F3;}
  
/*== SETTING ==*/
.setting{max-width:400px;border-radius:10px;-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,3,0.20); -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,3,0.20); box-shadow: 0px 0px 16px 0px rgba(0,0,3,0.20);background:#fff;position:fixed;z-index:4000;left:15px;right:15px;bottom:-500px;transition:.4s;padding:10px 20px 40px 20px;box-shadow:0 0 4px 1px rgba(60,64,67,.1);-webkit-box-shadow:0 0 4px 1px rgba(60,64,67,.1);-moz-box-shadow:0 0 4px 1px rgba(60,64,67,.1)}
.setting > .kirman-info-follow > h1{position:relative;display:flex;align-items:center;margin:0 35px 20px 35px;text-align:left;font-size:16px}
.setting > .kirman-info-follow > p{color:gray;margin:0 35px;text-align:left;font-size:10px}
.lbl{position:absolute;right:0;bottom:0;display:block;height:20px;width:44px;background:#898989;border-radius:100px;cursor:pointer;transition:all 0.3s ease;box-shadow:0 0 2px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.2)}
.lbl:after{box-shadow:0 0 2px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.2);position:absolute;left:-2px;top:-3px;display:block;width:26px;height:26px;border-radius:100px;background:#fff;box-shadow:0 3px 3px rgba(0,0,0,0.05);content:'';transition:all 0.3s ease}
.lbl:before{box-shadow:0 0 2px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.2)}
.cbx:checked ~ .lbl{background:#2196F3}
.cbx:checked ~ .lbl:after{box-shadow:0 0 2px 1px rgba(0,0,0,0.2);-moz-box-shadow:0 0 2px 1px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 2px 1px rgba(0,0,0,0.2);left:20px;background:#fff}
  
/*== MENU ==*/
.hidden{display:none}

@media (min-width:900px){.kirman_sidenav{width:200px;}.kirman-header,.kirman-footer-con{display:none}}
@media (max-width:900px){.kirman_sidenav{left:-200px;width:250px;}.kirman-header{display:flex}.kirman_sidenav{left:-250px}}
.m-h{padding-top:30px;text-align:center;padding-bottom:30px;border-bottom:1px solid #e0e0e0}
.m-h >h1{font-weight:1000;text-transform:uppercase;padding:0;margin:0;color:#2196F3}
.m-h >p{margin:0;padding:0;margin-top:0;font-size:10px;color:gray}
.m-i{padding:30px 15px;border-bottom:1px solid #e0e0e0}
.m-i >a:first-child{padding:10px 20px;background:#2196F3;display:flex;align-items:center;color:#fff;text-decoration:none;border-radius:5px}
.m-i >a{padding:10px 20px;color:inherit;display:flex;align-items:center;text-decoration:none;border-radius:5px}
.m-i >a >.material-icons{margin-right:10px}
.m-m{display:flex;flex-direction:column;padding:20px;border-radius:5px}
.m-m a{text-decoration:none;color:inherit;display:flex;align-items:center;font-size:10px;}
.m-m a i{vertical-align:baseline; font-size:20px; margin-left:2px; margin-right:10px;}
.kirman-c{font-size:10px;text-align:center;margin-top:20px}
.kirman_sidenav{position:fixed;font-weight:400;bottom:0;top:0;background:#fff;height:100%;overflow:scroll;transition:.4s;z-index:4000;}
.kirman_sidenav_active{left:0}
.kirman_overlay{background:#000;opacity:.4;position:fixed;top:0;left:0;right:0;bottom:0;z-index:3999;display:none}
.kirman_overlay_active{display:block}
.s-left{width:250px;border:1px solid #e0e0e0;transition:.4s;-webkit-transition:.4s;-moz-transition:.4s}
.hide{display:none}
.slideup{bottom:15px;}
  
/*== To top ==*/
#myBtn{visibility:hidden;position:fixed;bottom:80px;right:30px;z-index:6000;border:none;outline:none;background-color:#2196F3;color:white;cursor:pointer;padding:5px;height:40px;width:40px;border-radius:100%;}
#totopicon{fill:#fff;height:30px;width:30px}
  
/*==Night Mode==*/
.nightmode{transition:.3s;background:#37474F; color:#fff}
.nightmode body{background:#37474F;color:#fff}
.nightmode a{color:#fff}
.nightmode a:hover{color:rgba(255,255,255,.4)!important}
.nightmode .kirman-header{background:#263238;color:#fff}
.nightmode .post-body{background:#263238;color:#fff}
.nightmode .kirman-featured-con{background:#263238;color:#fff}
.nightmode .kirman-featured-isi-con{background:#263238;color:#fff}
.nightmode .kirman-popular-posts-item{background:#263238;color:#fff}
.nightmode #Label1{background:#263238;color:#fff}
.nightmode .kirman-footer-con{background:#263238;color:#fff}
.nightmode #kirman-menu{background:#263238;color:#fff}
.nightmode .breadcrumbs{background:#263238;border: none;color:#fff}
.nightmode .kirman-post-title-con{background:#263238;color:#fff}
.nightmode .comments .comments-content .inline-thread{background:#263238;color:#fff}
.nightmode .comments .comments-content .comment-thread{background:#263238;color:#fff}
.nightmode .submenu{background:#263238;color:#fff}
.nightmode .kirman_sidenav{border:none;background:#37474F;color:#fff}
.nightmode .m-h > p{color:#fff}
.nightmode .kirmanWave path{fill:#263238;color:#fff}
.nightmode .m-m{background:#263238; color:#000}
.nightmode .breadcrumbs svg path{fill:#fff}
.nightmode .setting{background:#263238;color:#fff}
.nightmode .logo{color:#fff}
.nightmode .footer-copyright{background:#263238;color:#fff}
.nightmode #myBtn{background:#263238;color:#fff}
.nightmode .kirmanShare{background:#263238;color:#fff}
.nightmode .more-nav{background:#263238;color:#fff}
.nightmode .kirman-s{background:#263238;color:#fff}
.nightmode #PopularPosts1{background:#263238;color:#fff}
.nightmode #kirmanRelated{background:#263238;color:#fff}
.nightmode #kirmanRelated ul li a.judul{background:#263238;color:#fff}
.nightmode .blog-pager-older-link{background:#263238;color:#fff}
.nightmode .blog-pager-newer-link{background:#263238;color:#fff}
.nightmode .post-body blockquote{background:#2196F3;color:#fff}
.nightmode svg{fill:#fff}
.nightmode .more-nav > form > label > input[type="submit"]{background:#263238; color:#fff;}
.nightmode .kirman-parse{background:#263238;color:#fff}
.nightmode .comments{background:#263238;color:#fff}
.nightmode .data_title{color:#fff;}.nightmode .data_info{color:#fff;}
.nightmode #HTML4{background:#263238;color:#fff}
.nightmode #HTML5{background:#263238;color:#fff}
.nightmode #HTML1{background:#263238;color:#fff}
.nightmode #HTML9{background:#263238;color:#fff}

  
/*== Media Query ==*/
@media (min-width:900px){.kirman-s{display:flex;top:10px;bottom:10px;right:40px;left:140px;border-radius:100px;border:1px solid #e0e0e0;padding-left:20px;width:600px;box-shadow:0 0 8px 2px inset #fafafa;-webkit-box-shadow:0 0 8px 2px inset #fafafa;-moz-box-shadow:0 0 8px 2px inset #fafafa}}

/*== HIDDEN ==*/
.feed-links, .post-timestamp, .post-comment-link, .post-labels, .quickedit, .blog-pager-newwer-link, .home-link, .post-share-button {display:none;}
