/*== HOMEPAGE ==*/
#Blog1{}
.post-body{padding:10px; border-radius:10px;-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20);}
.post-title, .post-footer{display:none;}
.kirman-post-body-con{}
.post-body{transition:1s;margin:10px 10px;padding:10px;border-bottom:1px solid #e0e0e0;padding-bottom:15px;}
.post-body img{width:100%;border-radius:10px;}
.post-body .kirman-fo-home{}
.post-body .kirman-fo-home .title{font-size:14px; line-height:1.4em;}
.post-body .kirman-fo-home .snippet{font-size:10px;line-height:1.4em;color:gray;}
.post-body .kirman-fo-home .detail{}/* container untuk label-home, label-home, post-by */
.post-body .kirman-fo-home .detail .post-by-img{display:none}
.post-body .kirman-fo-home .detail .post-by{display:none;}
.post-body .kirman-fo-home .detail .label-home{display:none}
.post-body .kirman-fo-home .detail .kirman-comment-count{display:none;}
.post-body .kirman-fo-home .detail .jump-link{display:none}
/*== HOMEPGE ==*/

/*== FEATURED ==*/
.kirman-featured-con{border-radius:10px;padding:10px;-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20); box-shadow: 0px 0px 16px 0px rgba(0,0,2,0.20);}
.kirman-featured-con{margin:10px;position:relative;overflow:hidden;}
.kirman-featured-img{width:100%;border-radius:10px;}
.kirman-featured-isi-con{}
.kirman-featured-title{font-size:14px;}
.kirman-featured-desk{font-size:10px; line-height:1.4em; color:gray;}
.kirman-featured-jumplink{display:none; border:1px solid #2196F3;background:#E3F2FD;padding:4px 10px;border-radius:5px;}
/*== FEATURED ==*/

/*== BLOG PAGER HOMEPAGE ==*/
.blog-pager-older-link{border:1px solid #e0e0e0; background:#2196F3; color:#fff; border-radius:8px; padding:10px 20px;}
.blog-pager-older-link{font-weight:600;}
.blog-pager {clear:both; padding:20px 0; width:auto; line-height:17px; display:flex; position:relative; justify-content:center; margin:20px 0 0 0;}
.blog-pager img{width:40px; height: auto;}
/*== BLOG PAGER HOMEPAGE ==*/