a,button,input{text-decoration:none; outline:none; color:inherit; border:none;}
body{animation:fadeIn ease 2s;-webkit-animation:fadeIn ease 2s;-moz-animation:fadeIn ease 2s;-o-animation:fadeIn ease 2s;-ms-animation:fadeIn ease 2s}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-ms-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
/*=== CSS IKLAN ==*/
#HTML1, #HTML4, #HTML5, #HTML6, #HTML8, #HTML9{overflow: hidden;}
#HTML1, #HTML4, #HTML8{width:calc(100% - 20px); border-radius:0px; height:auto; background:#fff; justify-content:center; margin:10px 10px;}
#HTML6 {width:calc(100% - 0px); border-radius:10px; height:auto; background:#fff; justify-content:center; margin:10px 0;}
#HTML5 {width:300px; border-radius:0px; height:250px; background:#fafafa; justify-content:center; margin:40px auto 80px auto;}
@media (max-width:900px){#HTML8{display:none;}}
#HTML3{height:auto; margin-top:-15px;}
#HTML9{height:auto; width:calc(100% - 20px); margin:10px; background:#fff;}
@media (min-width:900px){#HTML9{width:calc(100% - 100px); margin:10px 50px;border-radius:10px; border:1px solid #e0e0e0;box-shadow:0 0 4px 1px inset rgba(60,64,67,.1); -webkit-box-shadow:0 0 4px 1px inset rgba(60,64,67,.1); -moz-box-shadow:0 0 4px 1px inset rgba(60,64,67,.1);}#HTML8{display:none;}}
/*== HEADER ==*/
.kirman-header{padding:10px 20px;display:flex;align-items:center;position:fixed;top:0;left:0;right:0;background:#fff;z-index:1000}.br{height:80px;border-bottom:1px solid #fff;width:100%}.logo{letter-spacing:1px;font-family:&#39;Abril Fatface&#39;,cursive;font-size:1.2rem;text-transform:capitalize;font-weight:400}.kirman-btn-sidenav{position:absolute;right:20px;background:none;border:none}.kirman-btn-sidenav &gt;svg{fill:#000;stroke:#000;width:20px;height:20px}.toRight{margin-left:300px}#outer-wrapper{transition:.2s;overflow:hidden}@media (min-width:900px){.kirman-header{padding:20px 50px}.kirman-btn-sidenav{right:50px}}
/*== SIDENAV KIRMANFRAMEWORK ==*/
.kirman_sidenav{position:fixed;left:-300px;bottom:0;top:0;background:#fff;width:300px;height:100%;overflow:scroll;transition:.2s;z-index:4000;box-shadow:0 0 8px 2px rgba(0,0,0,0.2);-moz-box-shadow:0 0 8px 2px rgba(0,0,0,0.2);-webkit-box-shadow:0 0 8px 2px rgba(0,0,0,0.2)}.kirman_sidenav_active{left:0}.kirman_overlay{background:#000;opacity:.8;position:fixed;top:0;left:0;right:0;bottom:0;z-index:3999;display:none}.kirman_overlay_active{display:block}
/*== SIDENAV KIRMANFRAMEWORK ==*/
/*== POPULAR ==*/
#PopularPosts1{border-radius:10px; background:#fafafa; padding:20px}
#PopularPosts1 h2{margin-bottom:40px; letter-spacing:1px; font-family: &#39;Abril Fatface&#39;, cursive; font-size:1.2rem; text-transform:capitalize; font-weight:400;}
.kirman-popular-posts{}
.kirman-popular-img:first-child{display:none;}
.kirman-popular-title a{letter-spacing:1px; font-family: &#39;Abril Fatface&#39;, cursive; font-size:1rem; text-transform:capitalize; font-weight:400;}
.kirman-popular-garis-bawah{padding:10px 0;margin-bottom:10px; border-bottom:1px solid #e0e0e0;}
.kirman-popular-snippet{display:none;}
/*== LABEL ==*/
#Label1{border-radius:10px; background:#fafafa; padding:20px}
#Label1 h2{margin-bottom:40px; letter-spacing:1px; font-family: &#39;Abril Fatface&#39;, cursive; font-size:1.2rem; text-transform:capitalize; font-weight:400;}
.kirman-label-title{}
.kirman-label-con{}
.kirman-label{float:left; font-size:10px; margin:10px 0 0 10px; border-radius:5px; border:1px solid #000; padding:4px 10px;}
.kirman-label-garis-bawah{}
/*== FOOTER ==*/
.kirman-fo{padding:40px;height:auto;background-color:#000}.kirman-fo &gt;ul{margin:auto;justify-content:center;display:flex;padding:0;margin-bottom:40px;margin-top:20px}.kirman-fo &gt;ul &gt;a{margin:auto 10px;text-decoration:none;color:#fff}.kirman-c{font-size:10px}.kirman-c span{background:#fff;color:#000;padding:4px 10px;border-radius:100px;margin-left:20px}
/*== Subscribe Box ==*/
.subscribe-wrapper &gt; h1{color:#000;letter-spacing:1px; font-family: &#39;Abril Fatface&#39;, cursive; font-size:2rem; text-transform:capitalize; font-weight:400;}
#subscribe-css{position:relative;padding:20px 0;background:#444;overflow:hidden;border-top:4px solid #eee:none}
.subscribe-wrapper{padding:80px 40px; background:#fafafa; color:#fff;font-size:16px;line-height:normal;margin:0;text-align:center;text-transform:none;font-weight:400;width:calc(100% - 80px;)}
.subscribe-form{clear:both;display:block;overflow:hidden}
.subscribe-css-email-field{background:#fff;color:#ccc;margin:10px 0;padding:15px 20px;width:35%;border: 1px solid #000; border-radius:4px;}
.subscribe-css-email-button{background:#000;color:#fff;cursor:pointer;font-weight:700;padding:14px 30px;margin-left:15px;text-transform:none;font-size:16px;border:0;border-radius:3px;transition:all .6s}
.subscribe-css-email-button:hover{background:#E73037;}
/*== HIDDEN ==*/
.feed-links, .post-timestamp, .post-comment-link, .post-labels, .quickedit, .blog-pager-newwer-link, .home-link, .post-share-button {display:none;}
